<!DOCTYPE html>
<html ng-app="expressApp">
<head>
	<title>Express Challenge</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script type="text/javascript" src="controller.js"></script>
</head>
<body ng-controller="studentController">
	<div class="container">
		<h2>Here is a list of students in our class:</h2>
		
		<div ng-repeat="student in students"><h4>{{student}}</h4></div>
			<div class="col-sm-8">
				<div class="col-sm-6">
					<h3>Sort the list alphabetically: </h3>
				</div>
				<div class="col-sm-4">
					<button class="btn btn-success" value="SORT" ng-click="sortList()">Sort</button>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="col-sm-6">
					<h3>Or in reverse-alphabetical order: </h3>
				</div>
				<div class="col-sm-4">
					<button class="btn btn-danger" value="REVERSE" ng-click="reverseList()">Reverse</button>
				</div>
			</div>
			<h6>This simple app was built using express,mongo,angular, and node.
	</div>
</body>
</html>


<!-- Option 1. Make an express app from scratch and set it up so that if you go to localhost:3050/students, it will print out a list of studnets in the class in alphabetical order. If you go to localhost:3050/students/reverse, it will print out a list of studnets in the class in reverse alphabetical order.
=============================== -->